[submodule "mlqs-dummy-data-generator"]
	path = mlqs-dummy-data-generator
	url = https://github.com/LaChaucha/mlqs-dummy-data-generator
[submodule "mlqs-amqp-ingester"]
	path = mlqs-amqp-ingester
	url = https://github.com/LaChaucha/mlqs-amqp-ingester
[submodule "mlqs-batch-ingester"]
	path = mlqs-batch-ingester
	url = https://github.com/LaChaucha/mlqs-batch-ingester
[submodule "mlqs-etl"]
	path = mlqs-etl
	url = https://github.com/LaChaucha/mlqs-etl
